
{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">What is Loora?</h4>
    <p class="card-text">Loora is an open-source, low cost and minimal connectivity teleassistace project for the elderly and disables. Loora integrates an ultrasonic sensor device that traks movement in the home of your loved ones, if movement isn't detected for a while it will alert you on your phone so you can take adequate actions.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">How does it work? </h4>
    <p class="card-text">Loora's ultrasonic device connects to your community's open LoRa gateway, and sends a message every time it detects movement. Our back-end will check how long ago was movment last detected, and if it has been too long, it will send a Whattsapp through the Twilio API to the carer, so they can take adequate action.</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">About us</h4>
    <p class="card-text">We are a group of students from UPCoders, the coding club at Universitat Politècnica de Catalunya - EEBE.</p>
  </div>
</div>
{% endblock %}